<a href="https://colab.research.google.com/github/Riskyrianda/Data_analyst/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

#Data Types

In [ ]:
#integer
variable_integer = 20

#float
var_float = 12.9

#string
var_string = 'ini adalah string'

#boolean
var_boolean_true = True
var_boolean_false = False

In [ ]:
variable_integer

In [ ]:
var_boolean_true

In [ ]:
print(var_float)

In [ ]:
print(type(var_float)) #untuk ngecheck tipe data
print(type(variable_integer))
print(type(var_string))

In [ ]:
print('tipe data variable ini adalah' ,type(variable_integer))
print('tipe data variable ini adalah' ,type(var_float))
print('tipe data variable ini adalah' ,type(var_string))
print('tipe data variable ini adalah' ,type(var_boolean_true))

In [ ]:
float(variable_integer)

In [ ]:
var_int_to_float = float(variable_integer)

In [ ]:
type(var_int_to_float)

In [ ]:
var_int_to_float

In [ ]:
print(type(int(variable_integer)))

In [ ]:
var_float_2 = int(var_float)
var_float_2

In [ ]:
type(var_float)

In [ ]:
type(var_float_2)

#Data Structure

In [ ]:
#Sets
var_sets = {1,2,3,'string',2}
print(var_sets)

In [ ]:
#Tuples
var_tuples = (1,2,3,4,'string',True)
var_tuples

In [ ]:
#List
var_list = [1,2,3,4,'string',12.5, True, 2]
var_list

In [ ]:
#dictionary  ## {key:value, key2:value2}
var_dic = {'kendaraan ':'mobil', 'buah':'apel', 'warna':'kuning'}
var_dic

In [ ]:
var_dic2= {'kendaraan':['mobil','motor','pesawat'],'buah':'apel','warna':'kuning'}
var_dic2

In [ ]:
var_list

In [ ]:
var_list[2]

In [ ]:
var_list[-2]

In [ ]:
var_list[0]

In [ ]:
# var_list[index_startnya : index_stop]

var_list[0:4]

In [ ]:
var_list[:4]

In [ ]:
var_list[2:]

In [ ]:
var_list[:]

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(1, "orange")
print(thislist)

#IF Statement

In [ ]:
umur = 20

# if conditionnya:
#   statementnya

if umur <= 20 :
  print("anda masih dibawah umur")

In [ ]:
umur = 18

if umur >=20 :
    print("Anda sudah dewasa.")

In [ ]:
x = 2
y = 10

if x == y:
  print('ini adalah statement ke-1')
else :
  print('ini adalah statement ke-2')

In [ ]:
x = 5
y = 12

if x*y == 60 :
  print ('ini adalah statement ke-1')
else :
  print('ini adalah statement ke-2')

In [ ]:
nilai = 70

if nilai >= 90 :
  print('Predikat A')
elif nilai >= 80 :
  print ('Predikat B')
elif nilai >= 60 :
  print ('Predikat C')
elif nilai >= 40 :
  print ('Predikat D')
else :
  print ('Predikat E')

In [ ]:
if x+y == 10:
   print('ini adalah statement ke-1')
elif x+y == 12:
   print('ini adalah statement ke-2')
else :
  print('ini sisanya')

In [ ]:
var = 100

if var < 200 :
  print("Expression value is less than 200")
  if var == 150 :
    print("which is 150")
  elif var == 100 :
    print("which is 100")
  elif var == 50 :
    print("which is 50")
  elif var < 50:
    print("expression value is less than 50")
  else :
    print("the rest")
else :
  print("could not find true expression")

##looping

#while loop  (looping tidak terbatas)

In [ ]:
x=1

while x <= 10:
  print("caesar dan bastian badeur")
  x += 1 #-> x = x + 1

caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur
caesar dan bastian badeur

In [ ]:
x=1

while x < 5:
  print("saya berjanji tidak akan mengulangi perbuatan buruk saya")
  x += 1 #-> x = x + 1 -> akan mengupdate x menjadi +1 disetiap putarannya/loopingnya

saya berjanji tidak akan mengulangi perbuatan buruk saya
saya berjanji tidak akan mengulangi perbuatan buruk saya
saya berjanji tidak akan mengulangi perbuatan buruk saya
saya berjanji tidak akan mengulangi perbuatan buruk saya

#for loop

In [ ]:
fruits = ["apple", "banana", "cherry"]

for buah in fruits: # --> buah di dalam for itu mengandung/memenuhi setiap item yang ada di dalam list fruits
  print("ini adalah buah:", buah)

ini adalah buah: apple
ini adalah buah: banana
ini adalah buah: cherry

In [ ]:
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
for angka in range(5) : # -> 0,1,2,3,4
  print (angka)

0
1
2
3
4

In [ ]:
trans = ['mobil', 'motor', 'sepeda', 'pesawat']

for kendaraan in trans:
  if kendaraan == 'mobil':
    print('gasss')
  elif kendaraan == 'motor':
    print('gass')
  elif kendaraan == 'pesawat':
    print('gazzzzz')
  else:
    print('gas')

gasss
gass
gas
gazzzzz

In [ ]:
for i in range (5):
  if i == 3:
    break

3

In [ ]:
for i in range (5):
  if i == 3:
    continue
  print (i)

0
1
2
4

In [ ]:
fruits = ["apple", "banana", "cherry"]
for buah in fruits:
  if buah == 'banana':
    break
  print('ini adalah buah:', buah)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for buah in fruits:
  if buah == 'banana':
    continue
  print('ini adalah buah:', buah)

In [ ]:
kendaraan = ['mobil', 'pesawat','sepeda','motor','kapal']
for vehicle in kendaraan:
  if vehicle == 'mobil':
    print('kendaraan yang digunakan adalah',vehicle)
  elif vehicle == 'motor' :
    print('kendaraan yang digunakan adalah', vehicle)
  else :
    print('kendaraan lain adalah',vehicle)

In [ ]:
#1. buatlah program untuk menilai apakah suatu nilai merupakan bilangan genap/ganjil

genap = []
ganjil = []

x = 1
while x < 20:
  if x%2 != 0: # kalo x dibagi dengan 2, sisanya tidak sama dengan 0 atau habis
    ganjil.append(x)
  else:
    genap.append(x)
  x+=1

print('bilangan genap',genap)
print('bilangan ganjil',ganjil)

bilangan genap [2, 4, 6, 8, 10, 12, 14, 16, 18]
bilangan ganjil [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#2. buatlah program python yang menentukan kategori nilai berdasarkan skala berikut: 90-100 (A), 80-89 (B), 70-79 (C), 60-69 (D), dan kurang dari 60 (E). buatlah variabel nilai dan kategori dengan menggunakan program python

nilai = -1

if nilai >= 90 and nilai <= 100:
    print("nilai Anda adalah: A")
elif nilai >= 80 and nilai <= 89:
    print("nilai Anda adalah: B")
elif nilai >= 70 and nilai <= 79:
    print("nilai Anda adalah: C")
elif nilai >= 60 and nilai <= 69:
    print("nilai Anda adalah: D")
elif nilai >= 0 and nilai < 60:
    print("nilai Anda adalah: E")
else:
    print("masukkan nilai dengan benar woy")

masukkan nilai dengan benar woy

In [ ]:
# 3. buatlah program python yang mencetak angka ganjil antara angka 1 hingga 15 menggunakan loop while

i = 1
while i <= 15:
    print(i)
    i += 2

1
3
5
7
9
11
13
15

#Input

In [ ]:
umur = 20
umur

20

In [ ]:
umur = input("silahkan masukan umur kalian: ")

silahkan masukan umur kalian: 24

In [ ]:
umur

'24'

In [ ]:
type(umur)

str

In [ ]:
umur_nominal = int(umur)
type(umur_nominal)

int

#program sederhana untuk menghitung body mass index (BMI)
Berat badan dibagi dengan kuadrat tiggi badan Kategori:
1. Berat badan di bawah normal jika angka BMI di bawah 18,5
2. Berat badan normal jika BMI diantara 18,5-24,9
3. Berat badan berlebih jika angka BMI diatara 25-29,9
4. Obesitas jika angka BMI adalah 30 atau lebih

In [ ]:
berat = float(input("isi berat badan kita:"))
tinggi = float(input ("isi tinggi badan kita:"))

bmi = berat /(tinggi*tinggi)

print('bmi-nya adalah', bmi)

if bmi < 18.5 :
  print ("badan kita di bawah normal")
elif bmi>= 18.5 & bmi <= 24.9 :
  print ("berat badan kita normal")
elif bmi >=25 & bmi<=29.9 :
  print ("berat badan kita berlebih")
else:
  print ("obesitas")

isi berat badan kita:69
isi tinggi badan kita:172
bmi-nya adalah 0.002332341806381828
badan kita di bawah normal

# function

In [ ]:
# Basic function  f(x) = 5x + 10 -> f(5) = 5(5) + 10 = 35

def function1():
  print('kita belajar funtion dalam python')

In [ ]:
function1()

kita belajar funtion dalam python

In [ ]:
def nama_functionnya_apa():
  print('kita belajar function')

In [ ]:
nama_functionnya_apa()

kita belajar function

In [ ]:
function1()

kita belajar funtion dalam python

In [ ]:
x = 2

In [ ]:
X

NameError: name 'X' is not defined

In [ ]:
# function with argumen/parameter
def my_function(fname,lname):
  print(fname+" "+lname)

In [ ]:
def ini_function_buat_manggil_nama_lengkap(first_name,last_name):
  print(first_name+" "+ last_name)

In [ ]:
alda = 'alda'
aqdam = 'aqdam'

ini_function_buat_manggil_nama_lengkap(alda,aqdam)

alda aqdam

In [ ]:
my_function('putri','titian')

putri titian

In [ ]:
def luas_segitiga(a,t):
  luas = 1/2*a*t
  print(luas)

In [ ]:
luas_segitiga(5,10)

25.0

In [ ]:
luas_segitiga(2,10)

10.0

In [ ]:
def luas_segiempat(s1,s2):
  print(s1*s2)

In [ ]:
luas_segiempat(5,5)

25

In [ ]:
#default parameter
def my_function(country = 'norway'):
  print("I am from " + country)

In [ ]:
my_function()

I am from norway

In [ ]:
my_function("Indonesia")

I am from Indonesia

In [ ]:
my_function("Brazil")

I am from Brazil

In [ ]:
# list as an argument
def my_function(food):
  for x in food:
    print(x)

In [ ]:
fruits = ['apple','banana','cherry']

my_function(fruits)

apple
banana
cherry

In [ ]:
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
for buah in fruits : # wadah buah mengaandung apple, banana, sama cherry
  print(buah)

In [ ]:
#return function

def luas_segitiga2(a,t):
  luas = 1/2*a*t
  return luas

In [ ]:
def luas_segitiga2b(a,t):
  luas = 1/2*a*t
  print(luas)

In [ ]:
luas_segitiga2(10,2)

10.0

In [ ]:
luas_segitiga2b(10,2)

10.0

In [ ]:
def duakali_luas_segitiga(luas_segitiga2):
  total_luas = 2*luas_segitiga2
  print(total_luas)

In [ ]:
duakali_luas_segitiga(luas_segitiga2(10,2))

20.0

In [ ]:
duakali_luas_segitiga(luas_segitiga2b(10,2))

10.0

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [ ]:
bal = 565

def addmoney(m):
  global bal
  bal += m # sama saja kaya -> bal= bal+m
  return f'Current Balance : ${bal}'

In [ ]:
addmoney(200)

'Current Balance : $765'

In [ ]:
bal = 565

def submoney(m):
  global bal
  bal -= m # sama saja kaya -> bal= bal-m
  return f'Current Balance : ${bal}'

In [ ]:
submoney(50)

'Current Balance : $515'

In [ ]:
bal = 565

def addmoney(m):
  global bal
  bal += m # sama saja kaya -> bal= bal+m
  return f'Current Balance : ${bal}'

def submoney(m):
  global bal
  bal -= m # sama saja kaya -> bal= bal-m
  return f'Current Balance : ${bal}'

In [ ]:
def main(money,sign):
  global bal
  if sign == '-':
    return submoney(money)
  elif sign == '+':
    return addmoney(money)
  else:
    return print('incorrect input!')

In [ ]:
amt = int(input('enter amount: '))
sign = input ('debit(-) or credit(+): ')

enter amount: 50
debit(-) or credit(+): -

In [ ]:
amt

50

In [ ]:
sign

'-'

In [ ]:
main(amt,sign)

'Current Balance : $515'

1. Buat program Python sederhana yang memeriksa apakah angka yang dimasukkan oleh pengguna adalah bilangan ganjil atau genap. Tampilkan pesan yang sesuai.
2. Buat program Python untuk menghitung dan mencetak jumlah bilangan dari 1 hingga n (n adalah bilangan bulat positif) dengan menggunakan loop while.
3. Buat program Python yang mencetak angka dari 1 hingga 10 menggunakan loop for.
4.Buat fungsi Python yang mengalikan dua angka yang diberikan oleh pengguna dan mengembalikan hasilnya.
5. Buat program Python sederhana yang memeriksa apakah seorang pengguna boleh memilih atau tidak berdasarkan usia (usia >= 18). Tampilkan pesan yang sesuai.
6.Buat program Python yang menghitung jumlah digit dalam suatu angka bulat yang dimasukkan oleh pengguna.
7. Buat fungsi Python yang mengembalikan bilangan terbesar dari dua bilangan yang dimasukkan oleh pengguna.
8. Buat sebuah fungsi bernama `luas_persegi_panjang` yang menerima dua parameter, panjang dan lebar, dan mengembalikan luas dari persegi panjang tersebut.
9.  Buat sebuah fungsi Python yang menghitung jumlah huruf vokal dalam sebuah string yang dimasukkan oleh pengguna.
10.  Buat sebuah fungsi bernama `hitung_karakter` yang menerima dua parameter, sebuah string dan sebuah karakter, dan mengembalikan jumlah kemunculan karakter tersebut dalam string tersebut.
11. Buat sebuah fungsi bernama `hitung_volume_tabung` yang menerima dua parameter, jari-jari dan tinggi tabung, dan mengembalikan volume tabung tersebut. Formula volume tabung: Volume = π * r^2 * h, dengan π (pi) ≈ 3.14159.
12. Buat sebuah fungsi bernama `gabung_string` yang menerima dua string dan mengembalikan hasil penggabungan kedua string tersebut dengan satu spasi di antara keduanya.

In [ ]:
#1

# Menggunakan Function
def ganjil_genap (angka):
  if angka %2 == 0:
    print(angka,"Merupakan bilangan genap")
  else :
    print(angka,"Merupakan bilangan ganjil")


angka = int(input("Masukkan angka: "))
ganjil_genap(angka)

Masukkan angka: 55
55 Merupakan bilangan ganjil

In [ ]:
#2 Buat program Python untuk menghitung dan mencetak jumlah bilangan dari 1 hingga n (n adalah bilangan bulat positif) dengan menggunakan loop while.

n = int(input("masukin bilangan bulat positif"))
x = 1
jumlah = 0

while x <= n:
  jumlah += 1
  x += 1

print(f'jumlah bilangan dari 1 hingga {n} adalah {jumlah}')

masukin bilangan bulat positif16
jumlah bilangan dari 1 hingga 16 adalah 16

In [ ]:
#3

for angka in range(1, 11):
    print(angka)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#4

def kaldu():
  angka1 = float(input('Masukan angka pertama: '))
  angka2 = float(input('Masukan angka kedua: '))
  hasil = angka1*angka2
  return hasil

print('Hasil perkalian adalah: ',kaldu())

Masukan angka pertama: 5
Masukan angka kedua: 4
Hasil perkalian adalah:  20.0

In [ ]:
#No. 5

usia = int(input("Masukkan usia: "))

if usia >= 18:
    print("Anda boleh memilih.")
else:
    print("Anda belum boleh memilih.")

Masukkan usia: 22
Anda boleh memilih.

In [ ]:
#6

angka = float(input('Masukkan angka kamu: '))
angka_bulat = int(angka)

jumlah_digit = len(str(angka_bulat))
print(angka_bulat)
print('Digit angka kamu ada', jumlah_digit, 'digit')

Masukkan angka kamu: 23682134832.999
23682134832
Digit angka kamu ada 11 digit

In [ ]:
#7
# Buat fungsi Python yang mengembalikan bilangan terbesar dari dua bilangan yang dimasukkan oleh pengguna.
def bilangan_terbesar(angka1, angka2):
    return max(angka1, angka2)

angka1 = int(input("Masukkan angka pertama: "))
angka2 = int(input("Masukkan angka kedua: "))
print("Bilangan terbesar:", bilangan_terbesar(angka1, angka2))

Masukkan angka pertama: 5
Masukkan angka kedua: 10
Bilangan terbesar: 10

In [ ]:
#8

def luas_persegi_panjang(panjang, lebar):
    luas = panjang * lebar
    return luas

panjang = float(input("Masukan nilai panjang : " ))
lebar =  float(input("Masukan nilai lebar : " ))
hasil = luas_persegi_panjang(panjang, lebar)
print("Luas persegi panjang adalah" , hasil)

Masukan nilai panjang : 10
Masukan nilai lebar : 15
Luas persegi panjang adalah 150.0

In [ ]:
# No 9
def hitung_vokal(kalimat):
  vokal = 'aiueo'
  jumlah = 0
  for huruf in kalimat:
    if huruf in vokal:
      jumlah += 1
  return jumlah


k = input('Masukkan kata : ').lower()
hitung_vokal(k)

Masukkan kata : bAstiAn

3

In [ ]:
#10

def hitung_karakter(string, karakter):
    jumlah_kemunculan = 0

    for huruf in string:
        if huruf == karakter:
            jumlah_kemunculan += 1
    return jumlah_kemunculan

kalimat = input("Masukkan sebuah kalimat: ")
karakter = input("Masukkan sebuah karakter: ")

print("Jumlah kemunculan karakter dalam kalimat adalah:", hitung_karakter(kalimat, karakter))

Masukkan sebuah kalimat: ayam
Masukkan sebuah karakter: a
Jumlah kemunculan karakter dalam kalimat adalah: 2

In [ ]:
#11

def hitung_volume_tabung(jari_jari, tinggi):
    pi = 3.14159
    volume = pi * jari_jari ** 2 * tinggi
    return volume

jari_jari = float(input("Masukkan jari-jari tabung: "))
tinggi = float(input("Masukkan tinggi tabung: "))

hasil_volume = hitung_volume_tabung(jari_jari, tinggi)
print("Volume tabung dengan jari-jari", jari_jari, "dan tinggi", tinggi, "adalah:", hasil_volume)

Masukkan jari-jari tabung: 16
Masukkan tinggi tabung: 20
Volume tabung dengan jari-jari 16.0 dan tinggi 20.0 adalah: 16084.9408

In [ ]:
# no_12 Buat sebuah fungsi bernama gabung_string yang menerima dua string dan mengembalikan hasil penggabungan kedua string tersebut dengan satu spasi di antara keduanya.
def gabung_string(Grass, Bubble):
    return Grass + " " + Bubble #ngembaliin hasil penggabungan dari 2 string Grass sama Bubble,
                                #anu ngke didisimpn ke variabel hasil_gabung ketika fungsi gabung_string dipanggil

Grass = "Halo Bubble You Eligible Sakeur Hunter?"
Bubble = "Muhun Abdi Elig Hunter🥰"
hasil_gabung = gabung_string(Grass, Bubble)
print("Hasil Digabung:", hasil_gabung)  # yang dimana nanti nilainya itu dikembalikn oleh gabung_string akan menjadi nilai dari variabel hasil_gabung.

Hasil Digabung: Halo Bubble You Eligible Sakeur Hunter? Muhun Abdi Elig Hunter🥰

##### Latihan

1. Buat sebuah program Python yang menghitung jumlah bilangan genap dari 1 hingga 10 menggunakan looping.

2. Buat sebuah program Python yang mencetak "Hello, World!" jika sebuah variabel boolean bernilai True, dan mencetak "Goodbye, World!" jika variabel tersebut bernilai False.

3. Buat sebuah fungsi Python yang menerima dua parameter bilangan bulat, lalu mengembalikan hasil penjumlahan dari kedua bilangan tersebut.

4. Buat sebuah program Python yang mencetak bilangan ganjil dari 1 hingga 10 menggunakan looping.

5. Buat sebuah fungsi Python yang menerima sebuah daftar (list) bilangan dan mengembalikan jumlah semua elemen dalam daftar tersebut.

6. Buat sebuah program Python yang mencetak "Selamat Pagi!" jika waktu saat ini kurang dari atau sama dengan pukul 12, dan mencetak "Selamat Siang!" jika waktu saat ini lebih dari pukul 12.

7. Buat sebuah fungsi Python yang menerima sebuah string dan mengembalikan string tersebut dalam kebalikan urutan.

8. Buat sebuah program Python yang mencetak angka 1 hingga 5 menggunakan looping for.

9. Buat sebuah program Python yang mencetak semua bilangan prima dari 1 hingga 20.

10. Buat sebuah program Python yang menghitung jumlah angka genap dari 1 hingga 100 menggunakan looping.

In [ ]:
# NO 1

i = 1
genap = 0
while i <= 10:
  if i % 2 == 0:
    print(i)
    genap += 1
  i += 1
print(f'total bilangan genap adalah {genap}')

In [ ]:
status = True  # Ganti dengan False untuk melihat output "Goodbye, World!"

if status:
    print("Hello, World!")
else:
    print("Goodbye, World!")

Hello, World!

In [ ]:
#3

def penjumlahan(angka1,angka2):
  hasil = angka1 + angka2
  return hasil

nilai1 = int(input('masukkan angka bulat ke-1 :'))
nilai2 = int(input('masukkan angka bulat ke-2 :'))
print('hasil penjumlahannya adalah' ,penjumlahan(nilai1,nilai2))

masukkan angka bulat ke-1 :5
masukkan angka bulat ke-2 :3
hasil penjumlahannya adalah 8

In [ ]:
# No. 4
print("Bilangan ganjil dari 1 hingga 10 adalah:")
for i in range(1, 11):
    if i % 2 != 0:
        print(i)

Bilangan ganjil dari 1 hingga 10 adalah:
1
3
5
7
9

In [ ]:
#5

def jumlah_elemen(daftar):
    return sum(daftar)

angka = [1, 2, 3, 4, 5]
print("Jumlah semua elemen dalam daftar:", jumlah_elemen(angka))

Jumlah semua elemen dalam daftar: 15

In [ ]:
#6

import datetime

sekarang = datetime.datetime.now()
if sekarang.hour <= 12:
    print("Selamat Pagi!")
else:
    print("Selamat Siang!")

Selamat Pagi!

In [ ]:
#7

def reverse(string):
    return string[::-1]

kalimat = "Van Dijk kepleset"
hasil = reverse(kalimat)

print("Kebalikan dari kalimat:", hasil)

Kebalikan dari kalimat: teselpek kjiD naV

In [ ]:
#8

for angka in range(1, 6):
    print(angka)

1
2
3
4
5

In [ ]:
#9
print("Bilangan prima dari 1 hingga 20:")

for num in range(1, 21):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Bilangan prima dari 1 hingga 20:
2
3
5
7
11
13
17
19

In [ ]:
#10

jumlah_genap = 0
for i in range(1, 101):
    if i % 2 == 0:
        jumlah_genap += 1
print("Bilangan Genap dari 1-100 adalah :", jumlah_genap)

Bilangan Genap dari 1-100 adalah : 50